

.buscadorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buscadorBox {
    position: relative;
}

.buscadorButton {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    background-color: transparent;
}

.buscadorInput {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
    outline: none;
}